[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
mypy = "*"
validators = "*"
types-requests = "*"
fake-useragent = "*"
pybuster = {file = ".", editable = true}

[dev-packages]
isort = "*"
pylint = "*"
black = "*"
commitizen = "*"
pytest = "*"
pytest-cov = "*"
pyclean = "*"

[requires]
python_version = "3.11"
